body {
	margin: 0;
	font-family: Helvetica Neue, Myriad Pro, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #454545;
	/*padding: 3px;*/
	overflow: hidden
}
.status-dialog {
	width: 300px
}
.MainDiv {
	display: inline-block;
	width: 400x;
	margin: 0;
	vertical-align: middle;
	overflow: hidden;
	background: #f5f5f5;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .65);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .65);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	opacity: 1
}
.action-available {
	background-image: url(../images/ico.app.24.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 22px;
	padding-left: 38px;
	color: #454545;
	font-size: 14px;
	font-weight: 400;
	padding-top: 5px;
	margin: 7px 0 5px 16px
}
.actions {
	background-color: #fff;
	border-top: 1px solid #dfdfdf;
	padding-top: 5px;
	padding-bottom: 10px;
}
.horizontal-rule {
	height: 1px;
	width: 100%;
	background-color: #dfdfdf;
	margin: 10px auto 0
}
.actions input[type=button] {
    color: #454545;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
    height: 38px;
    line-height: 30px;
    width: 270px;
    text-align: left;
    margin: 5px 15px 0;
    padding-left: 38px;
    font-size: 14px;
    font-weight: 100;
}
input[type=button].close-dialog {
	background-image: url(../images/CloseX.png);
	background-repeat: no-repeat;
	background-position: right center
}
input[type=button].do_openPDF {
	background-image: url(../images/ico.openWith.png);
	background-repeat: no-repeat;
	background-position: left center
}
input[type=button].do_convertHTML {
	background-image: url(../images/ico.toPDF.png);
	background-repeat: no-repeat;
	background-position: left center
}
input[type=button].do_preferences {
	background-image: url(../images/cmd.props.png);
	background-repeat: no-repeat;
	background-position: left center
}
input[type=button]:hover {
	border: 1px solid #cbcbcb;
	background-color: #fbfbfb;
	opacity: 1
}
input[type=button]:active {
	border: 1px solid #cbcbcb;
	background-color: #f5f5f5;
	opacity: 1
}
.api-option-container {
	/*background-color: #f44;*/
	padding: 15px 20px 10px
}
.api-option-container-inner {
	/*	cursor: pointer; */
	/* background-color: #f44; */
	user-select: none;
	display: grid;
	grid-template-columns: 1fr 5fr
}
.api-option-container input[type=checkbox] {
	cursor: pointer;
	text-align: left;
/*	height: 30px;
	vertical-align: middle;*/
}
.api-option-container input[type=checkbox] ~ label {
	/*background-color: #f44;*/
	/*padding-top: 3px;*/
/*	line-height: 30px;
	vertical-align: middle;*/
	cursor: pointer
}

